<!DOCTYPE html>
<html>
	<head>
		<meta charset +"uff-8"/>
		<tittle></tittle>
		<!--Latest complied and minfied css-->
		<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--optional themee-->
		<!-- <link rel ="stylesheet" href="CSS/bootstrap-theme.min.css"> -->
	</head>
	<body>
		<div class="jumbotron">
			<h1 class ="text-center">Your Response Submitted Successfully</h1>
		</div>
		<div class="container" float>
			<div class="row">
				<div class="col-lg-6">
					<h1 class ="text-centre">THANK YOU !</h1>
					<a href="/">Submit another subject feedback</a>
				</div>
			</div>
		</div>
	</body>
</html>